body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-wrap {
  min-height: 100vh;
  background-color: #151515;
  color: red;
  font-size: 56px;
}

.flex-container {
  border: 3px solid violet;
  display: flex;
  justify-content: center;
}

.flex-item {
  border: 1px solid rgb(193, 88, 88);
  background-color: white;
  padding: 50px;
  text-align: center;
}